.topbar-toolbar {
  display: flex;
  align-items: center;
  width: 100%;
}

/* LEFT */
.topbar-left {
  flex: 1;
}

/* CENTER */
.topbar-center {
  flex: 1;
  display: flex;
  justify-content: center;
}

/* RIGHT */
.topbar-right {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 12px;
  padding-right: 28px;
}

.topbar-hello {
  color: white;
  font-size: 14px;
}

/* BUTTON */
.logout-btn {
  background-color: transparent;
  color: white;
  padding: 6px 14px;
  border: 1px solid white;
  border-radius: 4px;
  font-size: 14px;
  cursor: pointer;
}

.logout-btn:hover {
  background-color: rgba(255, 255, 255, 0.15);
}

/* CHANGE PASSWORD */
.change-password-link {
  padding: 6px 14px;
  border: 1px solid white;
  border-radius: 4px;
  color: white;
  text-decoration: none;
  font-size: 14px;
}

.change-password-link:hover {
  background-color: rgba(255, 255, 255, 0.15);
}
