.login-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 2rem;
  border-radius: 10px;
  background-color: #f7f7f7; /* thêm màu nền cho dễ nhìn */
  width: 350px; /* cố định chiều rộng */
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2); /* optional: thêm shadow */

  /* Căn giữa màn hình */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* ===== REGISTER ===== */
.register-container {
  width: 460px;
  padding: 2rem;
  border-radius: 16px;
  background: #ffffff;
  box-shadow: 0 12px 30px rgba(0, 0, 0, 0.25);

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.form-title {
  text-align: center;
  margin-bottom: 1.5rem;
  font-size: 22px;
  font-weight: 600;
}

.grid-2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 30px;
}

.form-group {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.form-group label {
  font-size: 13px;
  font-weight: 500;
  color: #444;
}

.form-group input {
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #ccc;
  font-size: 14px;
}

.form-group input:focus {
  outline: none;
  border-color: #667eea;
  box-shadow: 0 0 0 2px rgba(102, 126, 234, 0.2);
}

.error {
  font-size: 12px;
  color: red;
}

.form-actions {
  display: flex;
  gap: 10px;
  margin-top: 1.2rem;
}

.btn-primary {
  flex: 1;
  padding: 10px;
  border-radius: 8px;
  border: none;
  background: #667eea;
  color: white;
  font-weight: 600;
  cursor: pointer;
}

.btn-primary:hover {
  background: #18a651;
}

.btn-secondary {
  flex: 1;
  padding: 10px;
  border-radius: 8px;
  border: none;
  background: #667eea;
  color: white;
  font-weight: 600;
  cursor: pointer;
}

.btn-secondary:hover {
  background: #ddd;
}
/* ===== FLOATING LABEL ===== */
.input-group {
  position: relative;
  margin-bottom: 20px;
}

.input-group input {
  width: 100%;
  padding: 14px 10px;
  border-radius: 8px;
  border: 1px solid #ccc;
  font-size: 14px;
}

.input-group label {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  background: white;
  padding: 0 5px;
  font-size: 14px;
  color: #777;
  pointer-events: none;
  transition: 0.25s ease;
}

.input-group input:focus + label,
.input-group input:valid + label {
  top: -8px;
  font-size: 12px;
  color: #667eea;
}
